//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 07 17:40:48 2021
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

